@media all and (max-width: 900px){

  nav ul{
    display: flex;
    flex-direction: row;
    justify-content: center;

  }
  nav ul li{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
  }
  .logo{
    font-size: small;
  }
  nav ul li a{
    font-size: small;
    justify-content: space-evenly;
  }
}
@media all and (max-width: 409px){
  nav{
    padding:4%;
  }

  nav ul li a{
    position: absolute;
    
    /* left: -50px; */
    bottom: 3.5px;
  }
  .a1{
    position: absolute;
    right:120px;
  }
  .a2{
    position: absolute;
    right:60px;
  }
  .a3{
    position: absolute;
    right:20px;
  }
}
@media all and (max-width: 360px){
  nav{
    padding:4%;
  }

  nav ul li a{
    position: absolute;
    
    /* left: -50px; */
    bottom: 3.5px;
  }
  .a1{
    position: absolute;
    right:85px;
  }
  .a2{
    position: absolute;
    right:38px;
  }
  .a3{
    position: absolute;
    right:9px;
  }
}

@media all and (max-width: 320px){
  nav{
    padding:4%;
  }

  nav ul li a{
    position: absolute;
    
    /* left: -50px; */
    bottom: 3.5px;
  }
  .a1{
    position: absolute;
    right:60px;
  }
  .a2{
    position: absolute;
    right:22px;
  }
  .a3{
    position: absolute;
    right:7px;
  }
}
